.App {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    height: 97vh;
    padding: 0 20px;
    position: relative;
}

body {
    background-color: #000000;
    color: #7c7c7c;
}

input {
    width: 100%;
    height: 50px;
    background-color: #111111;
    color: #7c7c7c;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button {
    width: 25%;
    margin-right: 10px;
    height: 54.5px;
    background-color: #111111;
    color: #7c7c7c;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 10px;
}

.mes-body {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    width: 100%;
    height: auto;
    color: white;
    text-align: left;
}

.msg-body h2 {
    color: rgb(8, 89, 151);
}

.sen-body {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    width: 100%;
    height: auto;
    color: white;
    text-align: right;
}

.sen-body h2 {
    color: rgb(8, 89, 151);
}